/* ===== MEDIA QUERIES ===== */
/* Laptop S : 992px */
/* Tablet : 768px */
/* Mobile L : 425px */
/* Mobile S : 320px */
/* ========================= */

@font-face {
	font-family: 'Starjedi';
	src: url('../assets/fonts/Starjedi.ttf');
}

body {
	margin: 0;
	background-color: #263238;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

section {
    width: 90%;
    padding-top: 100px;
    margin: auto;
}

.section-title {
    text-align: center;
    font-size: 36px;
    font-family: Starjedi;
    color: #EEEEEE;
    letter-spacing: 3px;
}

/* ================== */
/* ===== HEADER ===== */
/* ================== */

header {
	display: flex;
	position: fixed;
	width: 100%;
	height: 80px;
}

.header-title-container {
	width: 80%;
}

.header-title {
	font-family: 'Starjedi';
	text-shadow: 0 2px 10px rgba(0,0,0,0.4);
	font-size: 44px;
	line-height: 80px;
	color: #FFE401;
	letter-spacing: 4px;
	margin: 0 25px;
    visibility: 1;
    opacity: 1;
    transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
}

.header-title-hidden {
    visibility: 0;
    opacity: 0;
}

/* Hamburger */
.header-hamburger-container {
    width: 60px;
    height: 60px;
    margin: 20px 20px 0 auto;
    border-radius: 50%;
    background-color: #EEEEEE;
    position: relative;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.header-hamburger-menu {
    height: 30px;
    width: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-hamburger-menu:hover {
    cursor: pointer;
}

.header-hamburger-icon {
    height: 8px;
    width: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    background-color: #263238;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: all ease 0.5s;
}
.header-hamburger-icon::before, .header-hamburger-icon::after {
    content: "";
    position: absolute;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    margin: auto;
    width: 50%;
    transition: all ease 0.5s;
}
.header-hamburger-icon::before {
    top: -12px;
    left: 0;
    transform-origin: left;
}
.header-hamburger-icon::after {
    bottom: -12px;
    right: 0;
    transform-origin: right;
}

.open {
    transform: translate(-50%, -50%) rotate(135deg);
}
.open::before {
    top: 0;
    transform: translateX(100%) rotate(-90deg);
}
.open::after {
    bottom: 0;
    transform: translateX(-100%) rotate(-90deg);
}

.header-menu-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: #EEEEEE;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    z-index: -1;
    transition: transform 0.6s ease-out;
    transform: translate(-50%,-50%) scale(0);
    transform-origin: center;
}

/* Menu overlay */
.header-menu-overlay-open {
    transform: translate(-50%,-50%) scale(2);
}

.header-menu-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
}

.header-menu-container-open {
    visibility: visible;
    opacity: 1;
}

.header-menu-list {
    list-style: none;
    width: 100%;
    height: 75%;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header-menu-item {
    position: relative;
    font-size: 34px;
    font-family: 'Starjedi';
    letter-spacing: 1px;
    color: #263238;
    transition: color 0.3s ease-out;
}
.header-menu-item:after {
    content: '';
    height: 22px;
    position: absolute;
    bottom: 2px;
    left: -12px;
    width: 0%;
    background: #FFE401;
    z-index: -1;
    transition: 0.2s;
}
.header-menu-item:hover:after {
    width: 100%;
}


@media screen and (max-width: 425px) {
    .header-title {
        font-size: 32px;
    }

    .header-hamburger-container {
        width: 46px;
        height: 46px;
    }

    .header-hamburger-icon {
        height: 6px;
        width: 28px;
    }

    .header-menu-item {
        font-size: 30px;
    }
}

/* ===== FILMS ===== */

.films-section {
    display: flex;
    flex-wrap: wrap;
}

.film-container {
    width: calc(100% / 4);
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.film-content {
    padding: 15px;
}

.film-content img {
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    max-width: 100%;
    transition: box-shadow 0.2s ease-out;
}
.film-content img:hover {
    box-shadow: 0 6px 30px rgba(0,0,0,0.8);
}

.film-title {
    margin: 5px 0 0 0;
    text-align: center;
    color: #EEEEEE;
    font-weight: 300;
}


@media screen and (max-width: 992px) {

    .film-container {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 425px) {

    .film-container {
        width: calc(100% / 2);
    }
}